<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Quotes</title>
    </head>
    <style>
        h2{
            display: inline-block;
            padding-right:700px
        }
        .title{
            width: 150px;
            display: inline-block;
        }
        .appt{
            display: inline-block;
            width: 150px;
        }
    </style>
    <body>
        <div>
            <h2>Welcome, {{user.name}}!</h2>
            <a href="/logout"><button>Log Out</button></a>
        </div>
        <p>Here are your appointments for today: {{todays_date}}:</p>
        <div>
            <p class="title"> Tasks</p>
            <p class="title"> Time</p>
            <p class="title"> Status</p>
            <p class="title"> Action</p>
        </div>
        <div>
            {% for appt in todays_appt_list %}
                <p class="appt"> {{appt.task}}</p>
                <p class="appt"> {{appt.time}}</p>
                <p class="appt"> {{appt.status}}</p>
                <a class="appt" href="edit_appt/{{appt.id}}">Edit</a>
                <a class="appt" href="delete_appt/{{appt.id}}">Delete</a>
            </br>
            {% endfor%}
        </div>
        <p>Your other appointments</p>
        <div>
            <p class="title"> Tasks</p>
            <p class="title"> Date</p>
            <p class="title"> Time</p>
        </div>
        <div>
            {% for appt in appointments_list %}
                <p class="appt"> {{appt.task}}</p>
                <p class="appt"> {{appt.date}}</p>
                <p class="appt"> {{appt.time}}</p>
                </br>
            {% endfor%}
        </div>
        <div id="add_appt">
            <p>Add Apppointment:</p>
            <form id="add_appt" action="/add_appt" method="post">
                {% csrf_token %}
                Time: <input type="date" name="date">
                Date: <input type="time" name="time">
                Task: <input type="text" name="task">
                <input type="submit" name="add" value="Add">
            </form>
        </div>
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li {% if message.tags %} class="{{message.tags}}" {% endif %}> {{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </body>
</html>
